<table border=0 height=100% width=100%>
<tr height=20% bgcolor=red>
<td colspan=2>
<img src="logo.jpeg" height=100
width=70  style="position:absolute;
left:50;top:50"/>
<span style="position:absolute;
left:150;top:50"/><h1>Percussione svasante</h1>
</span>

</td>
</tr>
<tr>

<td width=20% bgcolor=orange valign=top>
<p>&nbsp;</p>

<ul>
<li><a href="index.html">Home</a></li>
<li><a href="page2.html">La nummero 2</a></li>
<li><a href="page3.html">Il regubbero della 3</a></li>
<li><a href="page4.html">Sh della derra</a></li>
<li><a href="punta.html">Punta</a></li>
</ul>



</td>
<td valign=top>
<audio controls autoplay> <source src="puntasvasante.mp3" type="audio/mpeg"> </audio>
PUNTA SVASANTE -- RUTUTUTUTU RUUTTUTU TUTU
</td>
</tr>
<tr height=40% bgcolor=blue>
<td colspan=2>&nbsp;</td>
</tr>




</table>
