 <head>
<font color=#ae00ff>
<h1 align=center>2020 Freestyle
-Tedua<br/><br/>
</font>
</head>
<body style="background-color:#00eaff"><img src="2020.png" height=350 width=350 colspan=2 style="position: absolute; top: 25; left: 65; font-size: 80/>
</audio autoplay>
  <source src="2020-freestyle.mp3" type="audio/mp3">
</audio>
<audio controls>
  <source src="2020-freestyle.mp3" type="audio/mp3">
</audio>
<p align=center><font size=+3
color=#eb1a5f>(Intro)<br/>
Yo<br/>
Dopo Orange County, dopo Mowgli (Ryan)<br/>
"Lo stiamo perdendo, dottore"<br/>
<p align=center><font size=+3
color=#eb1a5f>(Verse 1)<br/>
Homie, la strada è tornata (yah), è follia ordinaria (ehi), se Tedua pubblica<br/>
Mani in aria (Tedua), Drilliguria dalla repubblica marinara<br/>
Nuovo anno, nuovo album (brr) non ho postato, drogato di vita vera<br/>
Prima che il social ti renda ameba (no, fra')<br/>
Allena la mente, pendente la mia catena (sì)<br/>
Scatena la gente, agente, la legge non ci tutela (no)<br/>
Non mandate spam di qualche ventenne perdente<br/>
Se non ha la metà dell'attitudine che avevo io alla sua età (ahah)<br/>
Il mio fan, è evidente, fa il ribelle, ma non sa<br/>
Quante merde ho calpestato per arrivare fin qua<br/>
Il "tic-tac" del tempo scorre, il "click-clack" del ferro esplode<br/>
In uno strip club non cerco moglie (Tedua)<br/>
"Di un impiego serio me ne frego, inseguo un sogno"<br/>
Mi ero detto tempo or sono (ora), ora guarda dove sono (ah)<br/>
Uscito dalla giungla, non più un cazzo di cucciolo d'uomo (no)<br/>
Se ho la manica lunga, ho più di un sarto e mi cuciono l'orlo (uoh)<br/>
Pronto a darmi in pasto agli squali (uoh), con il mio pasto di Cali<br/>
Adulti vogliono rubare in casa dei ladri (yah)<br/>
Con contratti che se straparli, non puoi strapparli (no cap)<br/>
E se hai contanti contati e se sei senza contatti, ci cadi (no cap)<br/>

<p align=center><font size=+3
color=#eb1a5f>(Ritornello)<br/>
Farò un piacere al mio Paese, darò<br/>
Senso e valore, so che chiedete un rapper migliore, io lo sarò<br/>
Faremo sia sesso che amore<br/>
Perché se mi baci o prendi a pugni, per me ha lo stesso sapore<br/>
Del sangue o la saliva quando sputo una rima<br/>
Stancante è la salita, però è ciò che serviva<br/>
Solo dall'alto puoi avere una prospettiva (skrrt<br/>
E niente sarà più come prima<br/>

<p align=center><font size=+3
color=#eb1a5f>(Verse 2)<br/>
Il mio flow non si evince né addice a fighe di Canale 5 (yo)<br/>
Questo perché chi segue rap per moda non mi capisce (yo)<br/>
È finita la storia dell'happy trap o del sad boy triste (bitch)<br/>
Che senza i miei problemi ha preso mille pasticche<br/>
Litigare con Nader mi ha fatto male (ehi)<br/>
Veder le strade divise, le divise entrare a perquisire (yah)<br/>
Ho sempre scritto per sfogo e psicanalisi (ah)<br/>
Ogni volta che uscivo dai cardini, mi aiutavi a capire<br/>
Da Mowgli è un arrivederci, quest'anno prendo il 2020<br/>
Con coltello tra i denti, faccio un bordello altrimenti (lo sai)<br/>
Con tutto il rispetto per i colleghi (yo-ah)<br/>
Ma evitiam' paragoni (ehi), abbiamo ruoli differenti (Tedua)<br/>
Non siate diffidenti, ho gli occhi dietro sul mio zaino di Fendi (ehi)<br/>
Ho rimesso assieme i pezzi distrutti della mia storia (no cap)<br/>
Questa è l'epoca in cui Genova evoca talenti<br/>
Come Yugi coi pezzi di Exodia (Tedua)<br/>

<p align=center><font size=+3
color=#eb1a5f>(Outro)<br/>
Yo, Ryan T-E-D dalle case in affido<br/>
2020 baby<br/>
No fuckin' cap, peace<br/>
T-E-D<br/>
Oh, nuovo anno, nuovo album, fra'<br/>




