 <head>
<font color=blue>
<h1 align=center size=+6> Aspettando Orange County Mixtape
-Tedua <br/><br/>
</font>
</head> 
<body style="background-color:#03fcdf"><img src="immagine-aspettando-orange-county.png" height=200 width=350 colspan=2 style="position: absolute; top: 25; left: 65; font-size: 80/>
</audio autoplay>
  <source src="Tedua_-_I_Ragazzi_Della_Zona_Aspettando_Orange_County.mp3" type="audio/mp3">
</audio>
<audio controls>
  <source src="Tedua_-_I_Ragazzi_Della_Zona_Aspettando_Orange_County.mp3" type="audio/mp3">
</audio><p align=center><font size=+4 color=purple>TrackList<br/></p>

<p align=center><font size=+3 color=red>
1)Forte come non l'avresti mai detto <br/> 
2)I ragazzi della zona<br/>
3)Ombrello per la pace<br/>
4)Ombre dalla celere<br/>
5)Male di me<br/>
6)Quando cillo<br/>
7)Mai piu'<br/>
8)Ufficio misteri<br/>
9)Non posso comprarti<br/>
10)Mhiraq freestyle<br/>
11)Perdono valore (Ft. Bresh)<br/>
12)Prendo tutto e vengo anch'io<br/>
13)Da dove provieni<br/>
14)Orizzonte al contrario(Ft. Albe Ok)<br/>
15)In eterno<br/>
16)Emersi a galla (Ft. Radici Urbane)<br/>
17)Chi sui Skate chi sui Peg<br/>
18)Bolza-Leto(Ft. Mad Boys & URB)<br/>
19)Sono su(Si alternano)<br/>
20)Vita di società<br/>
</font>
</body>







