 <head>
<font color=#6e00b8>
<h1 align=center>Mowgli
-Tedua<br/><br/>
</font>
</head>
<body style="background-color:#04ff00"><img src="mowgli.png" height=350 width=350 colspan=2 style="position: absolute; top: 25; left: 65; font-size: 80/>
</audio autoplay>
  <source src="vertigini.mp3" type="audio/mp3">
</audio>
<audio controls>
  <source src="vertigini.mp3" type="audio/mp3">
</audio><p align=center><font size=+5 color=#ff6f00>TrackList<br/>

<p align=center><font size=+3 color=#0263c4>
1)Sangue misto<br/>
2)3 Chances(Dilla tutta)<br/>
3)La Legge Del Piu' Forte<br/>
4)Rital<br/>
5)Dune<br/>
6)Vertigini<br/>
7)Aqua(Malpensandoti)<br/>
8)Fashion Week<br/>
9)Jungle<br/>
10)Il fabbricante di chiavi<br/>
11)Burnout<br/>
12)Al lupo al lupo<br/>
13)Cucciolo d'uomo<br/>
14)Natura<br/>
15)Bandar-log<br/>
16)Party privato<br/>
</font>
</body>






