 <head>
<font color=#f475ff>
<h1 align=center>Orange County California
-Tedua<br/><br/>
</font>
</head>
<body style="background-color:#ff2f00"><img src="immagine-orange-county-california.png" height=350 width=350 colspan=2 style="position: absolute; top: 25; left: 65; font-size: 80/>
</audio autoplay>
  <source src="wasabi-freestyle.mp3" type="audio/mp3">
</audio>
<audio controls>
  <source src="wasabi-freestyle.mp3" type="audio/mp3">
</audio><p align=center><font size=+5 color=#0099ff>TrackList<br/>

<p align=center><font size=+3 color=#ffbb00>
1)Circonvalley(Ft. Izi)<br/>
2)00(Ft. Rkomi)<br/>
3)Lingerie(Ft. SferaEbbasta)<br/>
4)Wasabi Freestyle<br/>
5)Lezione<br/>
6)Buste Della Spesa<br/>
7)No Snitch Freestyle<br/>
8)Fifty Fifty(Ft. Ghali)<br/>
9)Step By Step(Ft. Bresh)<br/>
10)OC(California)<br/>
11)Ci vuole poco(Ft. Laioung)<br/>
12)Pugile<br/>
13)Telefonate(Ft. Izi)<br/>
14)Pegaso<br/>
15)Pensa se piove RMX<br/>
16)Revolver Freestyle(Ft. Cojote Jo Bastard,Izi,Rkomi & SferaEbbasta)<br/>
</font>
</body>








