 <head>
<font color=#0703fc>
<h1 align=center>Orange County Mixtape
-Tedua<br/><br/>
</font>
</head>
<body style="background-color:orange"><img src="immagine-orange-county-mixtape.png" height=350 width=350 colspan=2 style="position: absolute; top: 25; left: 65; font-size: 80/>
</audio autoplay>
  <source src="Buste-Della-Spesa.mp3" type="audio/mp3">
</audio>
<audio controls>
  <source src="Buste-Della-Spesa.mp3" type="audio/mp3">
</audio><p align=center><font size=+5 color=#6b12a6>TrackList<br/>

<p align=center><font size=+3 color=#0f044f>
1)Intro Orange County<br/>
2)Circonvallery(Ft. Izi)<br/>
3)Lingerie(Ft. SferaEbbasta)<br/>
4)Wasabi Freestyle<br/>
5)Lezione<br/>
6)Buste Della Stai<br/>
7)No Snitch Freestyle<br/>
8)Scarpe coi freni Freestyle(Ft. Rkomi)<br/>
9)Fifty Fifty(Ft. Ghali)<br/>
10)Step By Step(Ft. Bresh)<br/>
11)OC(California)<br/>
12)Fre Corri Corri Freestyle<br/>
13)Non mi va(Ft. Disme & Krag Lee)<br/>
14)Mi piace(Ft. Giaime)<br/>
15)DrillDream Squad/Ft. Vaz Te')<br/>
16)Rolex Daytona Freestyle<br/>
17)Sbandati(Ft. III Rave & Nader Shah)<br/>
18)Sangue(Ft, Guesan)<br/>
19)Chino<br/>
20)La Lavatrice<br/>
21)Outro Orange county<br/>
</font>
</body>






