 <head>
<font color=#f700ff>
<h1 align=center>Para'
-Bresh(Ft. Tedua) <br/><br/>
</font>
</head>
<body style="background-color:#fce803"><img src="Para'.png" height=250 width=250 colspan=2 style="position: absolute; top: 25; left: 50; font-size: 80/>

</audio autoplay>
  <source src="para'.mp3" type="audio/mp3">
</audio>
<audio controls>
  <source src="para'.mp3" type="audio/mp3">
</audio> <br/><br/>
<font color="#220ac2" style="position: absolute; top: 200; left: 315; font-size: 30;">Para' e' una canzone di Bresh in feat con Tedua tratta dal suo nuovo album:"Che io mi aiuti"</font><br/><br/>
<p align=center><font size=+3
color=#00aaff>(Strofa 1: Bresh)<br/>
Breshino testa che gira<br/>
Tra un Montenegro e una spina<br/>
Non so ancora fare i cappucci, non mi riesce la schiuma<br/>
Berlino è stata sudata quando l'han divisa prima<br/>
Anche oggi tra il bene e il male ci sta di mezzo una riga<br/>
Non si divida l'invidia di chi vuole arrivar prima<br/>
Guardi piuttosto il posto imposto di chi è partito in cima<br/>
Cercando un mondo sereno fuori ma dentro che gira<br/>
Come un cartello sul cantiere di una palazzina<br/>

<p align=center><font size=+3
color=#00aaff>(Pre-ritornello: Bresh)<br/>
Non si può (non si può), stare qua (stare qua)<br/>
Ti insegnerò a cadere piano piano, para'<br/>
Si, quindi a volte si può, devo riuscire in para'<br/>
Non fuggi dalla Folgore se parti dal basso<br/>

<p align=center><font size=+3
color=#00aaff>(Ritornello: Bresh & Tedua)<br/>
Ti insegnerò a cadere piano piano, para'<br/>
Si, quindi a volte si può, devo riuscire in para'<br/>
Non fuggi dalla Folgore se parti dal basso<br/>
Forse, forse si può stare qua (stare qua)<br/>
Ti insegnerò a cadere piano, piano, para'<br/>
Si, quindi a volte si può, devo riuscire in para' (Yeah, yeah yeah)<br/>
Non fuggi dalla Folgore se parti dal basso (Yeah, yeah yeah)<br/>

<p align=center><font size=+3
color=#00aaff>(Strofa 2:Tedua)<br/>
Mi chiedo con chi tu sia qui, le ho dato un kiss<br/>
Domani mi pentirò dei drink e sarò in tilt<br/>
Dovevi avvertirmi prima dei miei limiti<br/>
Quei lividi non son' normali<br/>
Oh, non dirmi che con il tuo ex ti meni<br/>
Non torno di là (No, di là, no)<br/>
Ho un tocco di hash (Hash, Tedua)<br/>
No, così non va<br/>
Conto sulla tua lealtà (Sono con te)<br/>
Guarda non è motivo di vanto<br/>
Il fatto che te viva ignorando<br/>
Quello che fuori succede for real<br/>
Ho acceso i fari in mezzo alla foschia<br/>
Guido nel mio cammino e né tu né di un altro<br/>
Oh Dio, può darmi un destino<br/>
Amo quando il dj fa il cambio col passaggio a tempo che spacca<br/>
E sto ballando con i miei che fanno il passo con il segno della banda<br/>
Per quel che ti riguarda, ragazza te l'ho detto<br/>
Ti tengo la coda quando lo facciam' da dietro<br/>
Se non reggi e vomiti nel cesso (Tedua)<br/>